button {
    font-size: 19px;
    padding: 15px 30px;
    border: none;
    color: #0ea56e;
    border-radius: 30px;
    text-align: center;
    /* background-color: transparent; */
    background-image: linear-gradient(90deg, #fff 0, #fff 53%, #fff 99%);
    font-family: 'Poppins', sans-serif; 
    margin: 50px auto 15px;
    cursor: pointer;
    transition: all 500ms ease;
}

button:hover {
    color: #0ea56e;
    background: #ffffff;
    transform: scale(1.15);
}

.container__button {
	display: flex;
	flex-direction: column;
	margin-bottom: 50px;
}

.container__button--a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.521);
	transition: all 250ms ease-in-out ;
}

.container__button--a:hover {
	text-decoration: underline;
	color: #fff;
}
