.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 250px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

/* image input */

.form__input--file::-webkit-file-upload-button {
  display: none;
}
  
.form__input--file::before {
  content: 'Selecciona una imagen.';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
}
.custom-file-input:hover::before {
  border-color: black;
}
.form__input--file:active::before {
  background: rgba(255, 255, 255, 0.4);
}

/* text input */

form input,
.form__textarea {
    padding-top: 10px;
    /* padding-bottom: 10px; */
    margin: 10px 0 30px 0;
    display: block;
    border: none;
    background: none;
    color: #FFF;
    font-family: 'Poppins', sans-serif; 
    width: 100%;
}

.form__textarea {
    padding: 0;
    margin: 0;
}

input:focus,
textarea:focus {
    outline-width: 0;   
    font-family: 'Poppins', sans-serif; 
}

label {
    letter-spacing: 1.5px;
    font-size: 25px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
    font-family: 'Poppins', sans-serif; 

  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
  }

.form__input {
    border-bottom: 1px #fff solid;
}

@media (min-width: 756px) {
  
    .form {
        align-items: start;
        width: 30%;
        margin-top: 200px;
    }
  }
  

