  
body {
  font-family: montserrat, sans-serif;
  width: 100%;
  min-height: 100vh;
  color: white;
  background-image: linear-gradient(to left, rgb(0 203 229 / 58%), #03bf8c);
  font-family: 'Poppins', sans-serif; 
}

.App {
  text-align: center;
}

.App h1 {
  padding-top: 1px;
  position: absolute;
  top: 0;
  left: 9px;
  opacity: 0.5;
  font-size: 60px;
  word-spacing: 11px;
  letter-spacing: 4px;
  text-align: left;
  line-height: 1.1;
  color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #fff;
  /* word-break: break-all; */
}

.app__flex {
  margin-top: -50px;
}

@media (min-width: 756px) {

  .App h1 {
    padding-top: 0px;
    position: absolute;
    top: 0;
    left: 9px;
    opacity: 0.5;
    font-size: 101px;
    word-spacing: 11px;
    letter-spacing: 4px;
  }
  
  .app__flex {
    display:flex;
    justify-content: space-around;
    align-items: center;
  }
}


