  
body {
  font-family: montserrat, sans-serif;
  width: 100%;
  min-height: 100vh;
}

.App {
  text-align: center;
}

.App h1 {
  padding-top: 50px;
}

.app__flex {
  /* display:flex;
  justify-content: space-around;
  align-items: center; */
  margin-top: -50px;
}

@media (min-width: 756px) {
  
  .app__flex {
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -50px;
  }
}


